TwoLulzBundle\Entity\Comment:
    type: entity
    table: comment
    repositoryClass: TwoLulzBundle\Repository\CommentRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        text:
            type: string
            length: 255
    manyToOne:
      post:
        targetEntity: Post
        inversedBy: comments
        joinColumn:
          name: post_id
          referencedColumnName: id
      user:
        targetEntity: User
        inversedBy: comments
        joinColumn:
          name: user_id
          referencedColumnName: id
    lifecycleCallbacks: {  }
