services:
     imageUploader:
              class: TwoLulzBundle\Service\ImageUploader
              arguments:
                   $targetDir: 'images'
     apiUtils:
              class: TwoLulzBundle\Service\ApiUtils
              arguments:
                  $em: '@doctrine.orm.entity_manager'
                  $serializer: '@jms_serializer'
