{% trans_default_domain 'FOSUserBundle' %}

<div class="card">
    <div class="card-content">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'inscrire' |trans }}" />
        </div>
        {{ form_end(form) }}
    </div>
</div>

